.search-container{
    padding: 1rem 0rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .sort-and-list-container{
        @extend .smooth-corners;
    }

    @media only screen and (min-width: $desktop-breakpoint-plus){
        padding: 2rem 0;
        flex-direction: row;
        .sort-and-list-container{
            width: 72%;
        }
        .filter-container{
            width: 26%;
            margin: 0 0 0 0;
        }
    }
    @media only screen and (max-width: $desktop-breakpoint){
        margin: 0;
    }
}