.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: $dark-blue;
    margin: 0 0 1rem 0;
    @extend .smooth-corners;

    .filter-header.filter-header-main{
        padding: 1rem 1rem;
        border-bottom: 1px solid $off-white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .filter-header{
        color:white;
        padding: 1rem 0;
        width: 100%;
    }
    .filters-container-inner{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0 1rem;

        >hr{
            width: 100%;
            border-top: none;
        }
    }

    @media only screen and (max-width: $desktop-breakpoint){
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.filter-container-mobile{
    @extend .filter-container;
    .filter-header.filter-header-main{
        @extend .clickable;
        .filter-header-text{
            padding-left: 0.5rem;
        }
    }
    .ReactCollapse--collapse {
        transition: height 0.5s ease-in-out;
    }
}