//Colors
$text-color: #363636;
$footer-background: #535353;
$footer-bottom-background: #3B3B3B;
$light-gray: #888888;
$very-light-gray: #DDDDDD;
$off-white: #EEEEEE;
$light-blue: #0091E2;
$red: #FF0000;

//Sizes
$desktop-breakpoint: 800px;
$max-main-area-width: 1000px;

//other
$regular-border: 1px solid $very-light-gray;