.header-container{
    min-height: 100px;
    //TODO change to blue background image
    background: $dark-blue;
    padding: 1rem 1rem 1rem 1rem;
    @extend .flex-center;
  
    .header-inner-container{
        width: 100%;
        max-width: $max-main-area-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-right-side{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 3;
            margin-right: 3rem;
        }
        .header-left-side{
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
            *{
                color:$off-white;
                margin-left: 2rem;
            }
            a{
                font-size: 3rem;
            }
        }
    }
}

@media only screen and (max-width: $desktop-breakpoint){
    .header-container{
        padding: 1rem 0rem 1rem 1rem;
    }
    // .header-right-side{
    //     display: none;
    // }
}