.header-container{
    background-image:url('https://i.ibb.co/HhW6T3p/dark-Blue-Fog.jpg');
    background-repeat: no-repeat;
    background-size: 200%;

    padding: 0rem 1rem;
    @extend .flex-center;
    flex-direction: column;

    @media only screen and (max-width: $desktop-breakpoint){
        padding: 0;

        .header-inner-container{
            flex-direction: column;
        }
    }

    .ReactCollapse--collapse {
        transition: height 0.5s ease-in-out;
        width: 100%;

        .header-item{
            padding: 0.5rem 0.5rem;
            margin: 0.2rem 0;
        }

    }  
    .header-inner-container{
        width: 100%;
        height: 100%;
        max-width: $max-main-area-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-right-side{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 3;
            margin-left: 3%;
        }
        .header-left-side{
            height: 100px;
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
            *{
                color:$off-white;
            }
            a{
                font-size: 3rem;
            }
        }
    }

    .header-mobile-dropdown{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        display: flex;
        padding: 0 1rem;

        //background: yellow;
    }

    .mobile-menu-button{
        height: 100%;
        color:white;
        @extend .flex-center;
        @extend .clickable;
        text-align: center;
        vertical-align: middle;
        >i{
            @extend .flex-center;
            font-size: 3rem;
            height: 100px;
            color:white;
            padding: 0 1rem;
            //background: red;
        }
    }
}