.header-item{
    @extend .clickable;
    @extend .flex-center;
    color: $off-white;
    margin: 0 1%;
    padding: 0.3rem 1%;
    @extend .smooth-corners;
    flex-grow: 1;
    transition: background-color 0.2s ease-in;
}

.header-item:hover{
    background: $off-white;
    color: $dark-blue;
}