.join-us-container{
    width: 100%;
    background: $off-white;
    padding: 0 2rem;
    @extend .flex-center;

    .join-us-inner-container{
        width: 100%;
        max-width: $max-main-area-width;
        padding: 4rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .join-us-header{
            color: $light-blue;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        .form-container{
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @media only screen and (max-width: $desktop-breakpoint){
                flex-direction: column;
            }

            >*{
                width: 100%;
                flex-grow: 1;
                margin: 0.5rem 1%;
                height: 3rem;
                @extend .smooth-corners;
            }

            input{
                padding: 1rem 1rem 1rem 0;
                border: $regular-border;
                @extend .flex-center;
            }

            .signup-button{
                background: $red;
                color:white;
                padding: 1rem;
                @extend .flex-center;
                @extend .clickable;
                border: none;
                font-size: 1.5rem;
            }
            .signup-button:hover{
                background: darken($red, 10);
            }
        }

        .join-us-error{
            color: $red;
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: $desktop-breakpoint){
    .form-container{
        flex-direction: column !important;
    }
}