.join-us-container{
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: $off-white;
    // background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnyWFy0e8XBFYjmx2YMZjCSsub_lgzGfbMgg&usqp=CAU');
    // background-repeat: no-repeat;
    // background-size: cover;


    
}