.sort-dropdown-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .sort-dropdown{
        color: $light-gray;
        font-size: 0.9rem;
        flex-grow: 1;
    }
    .sort-dropdown-label{
        color: $almost-black;
        font-size: 1.1rem;
    }

    @media only screen and (max-width: $desktop-breakpoint){
        width: 100%;
    }
}